<mat-toolbar>
  <mat-chip routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</mat-chip>
  <mat-chip routerLink="angular" routerLinkActive="active" ariaCurrentWhenActive="page">Angular</mat-chip>
  <mat-chip routerLink="angular2" routerLinkActive="active" ariaCurrentWhenActive="page">Angular 2</mat-chip>
  <mat-chip routerLink="users" routerLinkActive="active" ariaCurrentWhenActive="page">Heroes</mat-chip>
<!--  <mat-chip routerLink="usergroups" routerLinkActive="active" ariaCurrentWhenActive="page">Usergroups</mat-chip>-->
</mat-toolbar>
<router-outlet></router-outlet>
